.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .menu .title {
    font-family: cursive;
    font-size: 60px;
  }
  
  .MenuList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .menuItems {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 22px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    background-color: white;
  }

  .menuItems:hover {
    box-shadow: 0px 3px 15px rgba(117, 80, 80, 0.5);
    transform: scale(1.1); 
    cursor: default;
  }
  
  .menuItems div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .menuItems h1,
  .menuItems p {
    margin-left: 20px;
  }
  
  @media only screen and (max-width: 1300px) {
    .MenuList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .MenuList {
      grid-template-columns: 1fr;
    }
  }

button
{
    border: none;
    outline: none;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: #94B49F;
    cursor: pointer;
    margin-left: 25%;
    transition-duration: 0.5s;
    font-size: 20px;
    border-radius: 0.5;
    text-decoration: none;
}
button:hover {
  background-color: black ;
  color:whitesmoke;
}
/*.menuItems .btn
  {
    border: none;
    outline: none;
    display: inline-flex;
    padding: 4px;
    color: white;
    background-color: rgb(122, 113, 113);
    text-align: center;
    cursor: pointer;
    width: 70%;
  }
  
.menuItems .button:hover {
    background-color:  #94B49F;
  }
  */